html {
    height:100%;
}

body{
	background: white;
	font-family: "Aerial" sans-serif;
	color: gray;
	font-size: 12pt;
	margin: 0;
	padding: 0px 100px 100px 100px;
	
}

a{
	color: black;
	font-family: "Aerial" sans-serif;
	font-size: 16pt;
	text-decoration: none;
}

a[href^="mailto:"]

{ 
  font-family: "Aerial" sans-serif;
  color: gray;
  font-size: 16px;
  text-decoration: underline;
}

a[href^="mailto:"]:hover{
  font-family: "Aerial" sans-serif;
  color: black;
  font-size: 16px;
  text-decoration: underline;
}


a:hover{
	color: orange;
	font-family: "Aerial" sans-serif;
	font-size: 16pt;
	text-decoration: none;
}

.logo {
	padding: 100px 0px 100px 0px;
	float: left;

}

.logocont{
	padding: 100px 100px 100px 100px;
	float: left;
}



.navmarg {
	padding: 127px 100px 100px 40px;
    height:100%;
    float: right;
 }

.nav { 
	padding: 127px 40px 100px;
    height:100%;
    float: right;
    }

.navmap { 
	display: block;
	width: 80%;
	height: auto;
	padding: 0px 100px 40px 40px;
    float: right;
    min-width: 20%;
    position: relative;
  }


.center {
	display: block;
	padding: 0px 100px 0px 100px
}

  

.contact {
		display: block;
		float: left;
		text-align: left;
		}

.orange {
	color: orange;

}      

h2 {
	font-size: 16pt;
	font-family: "Aerial" sans-serif;
	color: orange;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}



.featimg{
	float: left;
	width: 100%;
	padding: 0px 0px 0px 50px;
	position: relative;
	display: inline-block;
}



.slideshow {
	position: relative;
	float: right;
}

.slideshow img {
	float: right;
	width: 100%;
	display: none;    /* hide all images at first */
}

.slideshow img:first-child {
	display: block;
}



ul.rig {
	padding: 0px;
	margin: 0px;
	list-style: none;
	font-size: 0px;
	float: left;
	width: 100%;
	white-space: nowrap;
 	width: 100%;
 	list-style: n
  
}
}

ul.rig li {
	display: inline-block;
	}

ul.rig li img {
	max-width: none;
	width: 25%;
	margin: 0 0 0px;\
	float: left;
}

ul.rig li h3 {
	position: relative;
	margin: 0 0 5px;
	color: white;
	background-color: black;
	padding: 5px 0px 5px 0px;
	text-indent: 10px;
	width:25%;


}


/* class for 2 columns */
ul.rig.columns-2 li {
	width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
	width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
	width: 22.5%; /* this value + 2.5 should = 25% */
}
 
@media (max-width: 480px) {
	ul.grid-nav li {
		display: block;
		margin: 0 0 5px;
	}
	ul.grid-nav li a {
		display: block;
	}
	ul.rig {
		margin-left: 0;
	}
	ul.rig li {
		width: 100% !important; /* over-ride all li styles */
		margin: 0 0 20px;
	}
}

.inline-list {
 border: none;
 margin: 0px;
 width: 100%;
 padding: 0px;
 float: left;
 }